<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HttpBin API Test Suite" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="com.reqres.utils.TestListener"/>
    </listeners>
    
    <test name="API Tests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.reqres.tests.HttpBinTests"/>
        </classes>
    </test>
</suite> 